h1{
	 font-size: 40px; 
			border:2px solid crimson;
			background: pink
}
h3{
	 font-size: 19px; 
			border:2px solid black;
			background: gray
}
h4{
	 font-size: 19px; 
			border:2px solid crimson;
			background: salmon
		}